@media screen and (max-width: 1250px) {
    .wrapper {
        width: 100vw;
        padding: 0 20px
    }

    @import './nav-media-1250';

    @import './profile-media-1250';

    @import './side-media-1250';
}

@media screen and (max-width: 1020px) {
    .wrapper {
        width: auto;
        padding: 0 50px
    }

    @import './nav-media-1020';

    @import './profile-media-1020';

    .side-menu {
        display: none
    };
    
}